# Python / Virtual Environment
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
*.db
birthday.db

# Environment Secrets


# Image Storage (uploaded photos usually not committed)


# Editor etc.
.vscode/
.idea/
.DS_Store
